<div class="error-box" *ngIf="isError">
  <div class="row">
    <div style="flex: 0 0 auto; width: 4%;">
      <mat-icon class="material-icons error-header">priority_high</mat-icon>
    </div>
    <div style="flex: 0 0 auto; width: 96%;">
      {{errorMessage}}
    </div>
  </div>
</div>

<div class="row">
  &nbsp;
</div>


<div class="row align-items-center justify-content-center  sm-h vertical-center">
  <div class="col-3">
    &nbsp;
  </div>
  <div class="col-6">
    <div class="card" style="width: 100%">
      <div class="card-header">
        Verify Pin
      </div>
      <div class="card-body">
        <form class="verify-pin-container" [formGroup]="verifyPinForm" autocomplete="off">

          <div class="row">
            <div class="col-8">
              <mat-form-field class="input_field" appearance="outline">
                <mat-label>Enter Pin to Verify</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Pin to Verify"
                  formControlName="confirmPinValue" appDisableCopyPaste minlength="6" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-card class="partner-image">
                <!--<img mat-card-image src="assets/img/ICICI_logo.jpg" alt="ICICI Bank">-->
                <img mat-card-image src="">
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              &nbsp;
            </div>
            <div class="col-4">
              <button mat-raised-button class="btn-action" (click)="onSubmit()">Verify Pin</button>
            </div>
            <div class="col-4">
              &nbsp;
            </div>
          </div>

          <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
              &nbsp;
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
              Please click here to <a (click)="redirectToResetPin()" class="tx-blue"> Reset Pin </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-3">
    &nbsp;
  </div>
</div>