<div class="progress">
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            <mat-spinner></mat-spinner>
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
</div>

