  <div class="statement-header-table">
    <form class="statement-container" [formGroup]="filterStatementForm" autocomplete="off">              
      <div class="row"> 
        <div class="col-4">
          <mat-form-field class="form-data-user" appearance="outline">
            <mat-label>Select Account</mat-label>
            <mat-select formControlName="accountId" (selectionChange)="onChange($event)" required>
              <mat-option *ngFor="let userstatus of userStatusList" 
                  [value]="userstatus.corpId+'-'+userstatus.userId"
                  [class]="isUserInActiveORNotRegistered(userstatus) ? 'fade-option' : 'normal-option'">
                {{userstatus.corpId}} - {{userstatus.userId}} - {{mask(userstatus.accountNumber)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--button mat-icon-button matSuffix (click)="addUser()">
            <mat-icon>person_add_alt_1</mat-icon>
          </button-->
        </div>
        <div class="col-2">
          <div class="info-container-box border border-1 rounded-3" style="align-self: center;font-weight: bold;">
              ₹ &nbsp;&nbsp; {{accountBalance}}
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <mat-form-field class="form-data" appearance="outline">
            <mat-label>Select Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="f.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="f.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                            </mat-form-field>
        </div>
        <div class="col-1">
          <button mat-raised-button class="btn-action" (click)="onSubmit()">
            Filter
          </button>
        </div>
      </div>
      <div class="error-box" *ngIf="isError">
        <div class="row">
            <div style="flex: 0 0 auto; width: 4%;">
                <mat-icon class="material-icons error-header">priority_high</mat-icon>
            </div>
            <div style="flex: 0 0 auto; width: 96%;">
               {{errorMessage}}
            </div>
        </div>
      </div>

    </form>
  </div>