<div class="conatiner">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Acknowledgement
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 create-account-ack-header">
                            You have success created account.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table create-account-ack">
                                <tbody>
                                    <tr>
                                        <th scope="row">Corporate Id</th>
                                        <td>{{createdUserStatus.corpId}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">User Id</th>
                                        <td>{{createdUserStatus.userId}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bank Login Id</th>
                                        <td>{{createdUserStatus.aliasId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        &nbsp;
                    </div>
                    <div class="col-2">
                        <button mat-raised-button class="btn-action" type="button" (click)="goToRegisteredList()">Registered User</button>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button class="btn-action" type="button" (click)="goToStepsScreen()">Go to
                            Steps</button>
                    </div>
                    <div class="col-4">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>