.create-account-ack {
    font-family: 'Mada', sans-serif !important;
    font-size: 12px;
}

.create-account-ack-header {
    font-family: 'Mada', sans-serif !important;
    font-size: 18px !important;
}