.mat-sidenav-container {
    height: 100%;
  }

.mat-sidenav {
    width: 16%;
    background: #202938;
}

.mat-list-item {
    color: #b5bdca;
    font-family: 'Mada', sans-serif !important;
    font-size: 14px;
}

.mat-list-item:hover {
    background-color: #0A3F66;
    color: #fff !important;
}

.list-item-active {
    background-color: #212529;
    color: #fff !important;
}

.side-nav-container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.router-outlet-container {
    padding: 20px;
}