<div class="row side-nav-container" >
    <div class="col-12">
        <mat-sidenav-container>

            <mat-sidenav #sidenav mode="side" *ngIf="isLoggedIn$ | async as isLoggedIn" opened>

                <div>
                    <div class="sidebar-header text-center" (click) = "callback()">
                        <img src="assets/img/costipro-logo.png" alt="COSTiPRO" id="logo" width="60%">
                    </div>
                </div>


                <mat-nav-list>
                    <ng-container *ngFor="let item of myWorkRoutes">
                        <a mat-list-item [routerLink]="[item.route]"
                            routerLinkActive="list-item-active">
                            <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
                            {{item.title}}
                        </a>
                    </ng-container>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="router-outlet-container">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        
        </mat-sidenav-container>
    </div>
</div>
