<app-header></app-header>

<div class="info-box">
    <div class="row px-0 mx-0">
        <div style="flex: 0 0 auto; width: 5%;" class="px-0 mx-0">
            <mat-icon class="material-icons info-header">info</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 95%; align-self: center;" class="px-0 mx-0">
            Note:- Statement shown is part of ICICI Bank page, Costipro doesn’t store/ save any information of customer's account
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-12">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          View Statement
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <app-search-panel (emitterStatement)="appliedFilterInSearchPanel($event)"></app-search-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-statement-list 
                        [statementRequest]="statementAppliedFilter"
                        [updatedTs]="updatedTimestamp">
                    </app-statement-list>
                </div>
            </div>
        </div>
    </div>
</div>    