::ng-deep th.mat-header-cell{
    border-bottom: 1px solid #e2e5e8;
    font-size: 13px;
    color: #fff;
    background: #147ecc;
    text-transform: uppercase;
    padding-left: 10px;
}

::ng-deep .mat-cell {
    font-size: 10px;
    padding-left: 10px !important;
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-left: 10px !important;
    padding-right: 5px !important;
}

::ng-deep td.mat-column-amount { 
    font-size: 10px;
    padding-left: 10px !important;
    text-align: center;
    justify-content: flex-end;
}

::ng-deep td.mat-column-balance { 
    font-size: 10px;
    padding-left: 10px !important;
    text-align: center;
    justify-content: flex-end;
}
