<div class="info-box">
    <div class="row px-0 mx-0">
        <div style="flex: 0 0 auto; width: 5%;" class="px-0 mx-0">
            <mat-icon class="material-icons info-header">info</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 95%; align-self: center;" class="px-0 mx-0">
            Note:- OTP Sent to registered mobile number only <br>
            Note:- OTP is valid for 15 minutes <br>
            In order to change the registered mobile number, kindly login to ICICI Bank page for Corporate log-in or
            click on the link to log-in to ICICI bank page
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="error-box" *ngIf="isError">
    <div class="row">
        <div style="flex: 0 0 auto; width: 4%;">
            <mat-icon class="material-icons error-header">priority_high</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 96%;">
            {{errorMessage}}
        </div>
    </div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="transaction-otp-body">
                    
                        <div class="row txn-detail">
                            <div class="col-3">
                                User Id :
                            </div>
                            <div class="col-3">
                                {{transactionDtl.userId}}
                            </div>
                            <div class="col-3">
                                Corp Id :
                            </div>
                            <div class="col-3">
                                {{transactionDtl.corpId}}
                            </div>
                        </div>
                        <div class="row txn-detail">
                            <div class="col-3">
                                Debit Account :
                            </div>
                            <div class="col-3">
                                {{mask(transactionDtl.debitAcc)}}
                            </div>
                            <div class="col-3">
                                Credit Account :
                            </div>
                            <div class="col-3">
                                {{mask(transactionDtl.creditAcc)}}
                            </div>
                        </div>
                        <div class="row txn-detail">
                            <div class="col-3">
                                IFSC Code :
                            </div>
                            <div class="col-3">
                                {{transactionDtl.ifscCode}}
                            </div>
                            <div class="col-3">
                                Amount :
                            </div>
                            <div class="col-3">
                                ₹ &nbsp;&nbsp; {{transactionDtl.amount | number: '.2'}}
                            </div>
                        </div>
                        <div class="row txn-detail">
                            <div class="col-3">
                                Transaction Type :
                            </div>
                            <div class="col-3">
                                {{txTypeMap.get(transactionDtl.txType!)}}
                            </div>
                            <div class="col-3">
                                Payee Name :
                            </div>
                            <div class="col-3">
                                {{transactionDtl.payeeName}}
                            </div>
                        </div>

                        <div class="row txn-detail">
                            <div class="col-3">
                                Remarks :
                            </div>
                            <div class="col-9">
                                {{transactionDtl.remarks}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <form class="txn-otp-container" [formGroup]="initiateTxnSubForm" autocomplete="off">
                                    <mat-form-field class="txn-data" appearance="outline">
                                        <mat-label>OTP</mat-label>
                                        <input matInput placeholder="OTP" appDisableCopyPaste formControlName="otpValue" required>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="col-6">
                                &nbsp;
                            </div>
                        </div>

                    <!--div class="row">
                        <div class="col-12">
                          <div *ngIf="isError">
                            <span class="error-text-message">{{errorMessage}}</span>
                          </div>
                        </div>
                      </div-->

                    <div class="row">
                        <div class="col-3">&nbsp;</div>
                        <div class="col-2">
                            <button mat-raised-button class="btn-action" (click)="back()">back</button>
                        </div>
                        <div class="col-2">
                            <button mat-raised-button class="btn-action" (click)="initateTransaction()">Initiate
                                Txn</button>
                        </div>
                        <div class="col-2">
                            <button mat-raised-button class="btn-action" (click)="cancelTransaction()">Cancel</button>
                        </div>
                        <div class="col-3">&nbsp;</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>