.transaction-otp-body {
    padding: 20px;
}

.txn-detail {
    padding: 10px;
    border-bottom: 0.5pt solid #dee2e6;
}

.info {
    font-size: 16px !important;
    font-family: 'Mada', sans-serif !important;
}