<app-header></app-header>

<div id="content" class="registration-landing">
    <div class="row">
        <div class="col-6">
            <mat-card class="reg-card">
                <mat-card-header class="reg-card-header">
                    <mat-card-title class="reg-card-title">Existing Account</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="reg-card-body">
                        1. Register with your existing bank Account. <br>
                    </div>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <div class="row">
                        <div class="col-10">
                            &nbsp;
                        </div>
                        <div class="col-2">
                            <button mat-button class="btn-action" (click)="registerExistingAccount()">Add</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-6">
            <mat-card class="reg-card">
                <mat-card-header class="reg-card-header">
                    <mat-card-title class="reg-card-title">Open New Account</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="reg-card-body">
                        Create new account at Partner. <br>
                        Fill KYC and submit
                    </div>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <div class="row">
                        <div class="col-9">
                            &nbsp;
                        </div>
                        <div class="col-3">
                            <button mat-button class="btn-action" (click)="openNewAccount()">Open Account</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>