.reg-card-header {
    color: #007bff;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold;
    font-size: 16px !important;
    border-bottom: 1px solid #e2e5e8;
    padding: 0px 0px;
}

.reg-card-body {
    font-size: 14px;
    height: 180px;
}

.reg-card-title {
    font-family: 'Mada', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
}

.reg-card {
    box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.26);
    height: 300px;
    border-radius: 30px !important;
}

