<div class="modal-content popup">

    <!-- Modal Header -->
    <div class="modal-header">
        <p class="modal-title">{{data.header}}</p>
    </div>

    <!-- Modal body -->
    <div class="modal-body mx-modal-body" [innerHtml]="data.message">
        
    </div>

    <div class="modal-footer">
        <button mat-raised-button class="btn-action" type="button" data-dismiss="modal" (click)="back()">OK</button>
    </div>
</div>