<div class="row">
    <div class="col-12">
        <b>Coporate ID</b> <br>
        <ul>
            <li>
                Corporate ID as provided in net banking login <br>
                    or may also check in welcome kit
            </li>
        </ul>
    </div>
</div>