<app-header></app-header>

<div class="dashboard-container">
    <div class="row mx-0 px-0">
        <div class="col-md-6 mx-0 px-1">
            <app-dashboard-card
                    title="Account Balance" 
                    type="accountBalance" 
                    headerClass="card-header-orange"
            ></app-dashboard-card>
        </div>
        <div class="col-md-6 mx-0 px-1">
            <app-dashboard-card
                    title="Last 10 Transactions" 
                    type="last10Txns" 
                    headerClass="card-header-orange"
            ></app-dashboard-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
    <div class="row mx-0 px-0">
        <div class="col-md-6 mx-0 px-1">
            <app-dashboard-card
                    title="Total 10 Payee/Beneficiary" 
                    type="total10Payee" 
                    headerClass="card-header-orange"
            ></app-dashboard-card>
        </div>
        <div class="col-md-6 mx-0 px-1">
            <app-dashboard-card
                    title="Total Paid A/c (Month)" 
                    type="totalPaidAccontPerMonth" 
                    headerClass="card-header-orange"
            ></app-dashboard-card>
        </div>
    </div>
</div>