<div class="error-box" *ngIf="isError">
    <div class="row">
        <div style="flex: 0 0 auto; width: 4%;">
            <mat-icon class="material-icons error-header">priority_high</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 96%;">
           {{errorMessage}}
        </div>
    </div>
</div>

<div class="statement-body" *ngIf="displayStatementTable && !isError">
    <table mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8 statement-table">

        <ng-container matColumnDef="txnDate">
            <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.txnDate}} </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef> Particulars </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Debit/Credit  </th>
            <td mat-cell *matCellDef="let element"> {{typeIdMap.get(element.type)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount (Rs.) </th>
            <td mat-cell *matCellDef="let element"> {{element.amount  | number: '.2'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance (Rs.) </th>
            <td mat-cell *matCellDef="let element"> {{element.balance  | number: '.2'}} </td>
        </ng-container>

        <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef> Txn Id </th>
            <td mat-cell *matCellDef="let element">
                {{element.transactionId}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>