<app-header></app-header>

<div class="error-box" *ngIf="isError">
    <div class="row">
        <div style="flex: 0 0 auto; width: 4%;">
            <mat-icon class="material-icons error-header">priority_high</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 96%;">
            {{errorMessage}}
        </div>
    </div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="conatiner">

    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Add New Beneficiary
                </div>
                <div class="card-body">
                    <div class="beneficiary-header-table">
                        <form class="beneficiary-container" [formGroup]="createBeneficiaryForm" autocomplete="off">

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Associated Account</mat-label>
                                        <mat-select formControlName="accountId" (selectionChange)="onChange($event)"
                                            required>
                                            <mat-option *ngFor="let userstatus of userStatusList"
                                                [value]="userstatus.corpId+'-'+userstatus.userId">
                                                {{userstatus.corpId}} - {{userstatus.userId}} - {{mask(userstatus.accountNumber)}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Beneficiary Name</mat-label>
                                        <input matInput placeholder="Beneficiary Name" formControlName="name" appDisableCopyPaste required>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Bank</mat-label>
                                        <mat-select formControlName="bankName" (selectionChange)="onBankChange($event)"
                                            required>
                                            <mat-option value="ICICI">ICICI Bank</mat-option>
                                            <mat-option value="HDFC">HDFC Bank</mat-option>
                                            <mat-option value="SBI">SBI Bank</mat-option>
                                            <mat-option value="PNB">Punjab National Bank</mat-option>
                                            <mat-option value="BNB">Bank of Baroda</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput type="text" placeholder="Account Number" appDisableCopyPaste
                                            formControlName="accountNumber" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Confirm Account Number</mat-label>
                                        <input matInput type="password" placeholder="Confirm Account Number" appDisableCopyPaste
                                            formControlName="cnfAccountNumber" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" *ngIf="displayIfscCode" appearance="outline">
                                        <mat-label>IFSC Code</mat-label>
                                        <input matInput placeholder="IFSC CODE" appDisableCopyPaste formControlName="ifscCode">
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button mat-raised-button class="btn-action" type="button" (click)="onSubmit()">Add
                                        Beneficiary</button>
                                </div>
                                <div class="col-4"></div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>