<app-header></app-header>

<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="createRegistrationInfo">
        <form [formGroup]="createRegistrationInfo">
            <ng-template matStepLabel>Register Account</ng-template>
            <app-create-registration (userEmitter)="createRegistration($event, stepper)"></app-create-registration>
        </form>
    </mat-step>
    <mat-step [stepControl]="registeredUserInfo">
        <form [formGroup]="registeredUserInfo">    
            <ng-template matStepLabel>Acknowledgement</ng-template>
            <app-ack [createdUserStatus]="userStatus" (acknowledgedEmitter)="acknowledgeCreateUser($event, stepper)"></app-ack>
        </form>
    </mat-step>
    <mat-step [stepControl]="stepsInfo">
        <form [formGroup]="stepsInfo">    
            <ng-template matStepLabel>Steps to Approve User</ng-template>
            <app-registration-steps></app-registration-steps>
        </form>
    </mat-step>
  </mat-stepper>