.txn-data  {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 300px !important;
}

.info-credit-account {
    font-size: 12px;
    padding: 10px;
    background-color: #202938;
    color: white;
    border: 2px !important;
    border-style: dashed !important;
}

::ng-deep .fade-option {
    color: gray !important;
}

::ng-deep .normal-option {
    color:#FF8040 !important;
}