<div class="error-box" *ngIf="isError">
  <div class="row">
      <div style="flex: 0 0 auto; width: 4%;">
          <mat-icon class="material-icons error-header">priority_high</mat-icon>
      </div>
      <div style="flex: 0 0 auto; width: 96%;">
         {{errorMessage}}
      </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>

<div class="row">
  <div class="col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="row">
          <!-- Firsst Column-->
          <div class="col-4">
            <div class="transaction-otp-body">
              <form class="txn-otp-container" [formGroup]="generateOTPTxnSubForm" autocomplete="off">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="txn-data" appearance="outline">
                      <mat-label>Select Registered Account</mat-label>
                      <mat-select formControlName="accountId" (selectionChange)="onChange($event)" required>
                        <mat-option *ngFor="let userstatus of userStatusList" 
                            [value]="userstatus.corpId+'-'+userstatus.userId" 
                            [class]="isUserInActiveORNotRegistered(userstatus) ? 'fade-option' : 'normal-option' " >
                            {{userstatus.corpId}} - {{userstatus.userId}} - {{mask(userstatus.accountNumber)}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="txn-data" appearance="outline">
                      <mat-label>Beneficiary Account Number</mat-label>
                      <mat-select formControlName="selBeneficiary" (selectionChange)="onChangeBeneficiary($event)" required>
                        <mat-option value='None'>Select Beneficiary Account</mat-option>
                        <ng-container *ngFor="let beneficiary of beneficiaries"> 
                        <mat-option 
                          *ngIf="beneficiary.statusEnabled" 
                          [value]="beneficiary.accountNumber">
                          {{beneficiary.name}} - {{mask(beneficiary.accountNumber)}}
                        </mat-option>
                        </ng-container>
                      </mat-select>
                      <button mat-icon-button matSuffix (click)="addBeneficiary()">
                        <mat-icon>manage_accounts</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="txn-data" appearance="outline">
                      <mat-label>Amount</mat-label>
                      <input matInput type="number" placeholder="Amount" formControlName="amount" appDisableCopyPaste min="0" required>
                      <span matPrefix>₹ &nbsp;&nbsp;</span>
                      <span matSuffix>.00</span>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="txn-data" *ngIf="displayTxType" appearance="outline">
                      <mat-label>Transaction Type</mat-label>
                      <mat-select formControlName="txType" required>
                        <mat-option value="">Select Transaction Type</mat-option>
                        <mat-option value="IFS">IMPS</mat-option>
                        <mat-option value="RTG">RTGS</mat-option>
                        <mat-option value="RGS">NEFT</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="txn-data" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <textarea matInput appDisableCopyPaste formControlName="remarks"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- 2nd Column-->
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="info-container" *ngIf="isUserSelectedInfo">
                  <app-account-card [accountCard]="selectedAccountCard"></app-account-card>
                </div>
              </div>
            </div>
            <div class="row">
              &nbsp;
            </div>
            <div class="row">
              <div class="col-6">
                <div class="info-credit-account border border-1 rounded-3" *ngIf="isBeneficiarySelectedInfo">
                  Credit Account no. {{mask(selectedUser.accountNumber)}} <br>
                  To be debited : {{f.amount.value | number: '.2'}}
                </div>
              </div>
              <div class="col-6">
                  &nbsp;
              </div>
            </div>
            <div class="row">
              &nbsp;
            </div>
            <div class="row">
              <div class="col-6">
                <div class="info-container-box border border-1 rounded-3" *ngIf="isBeneficiarySelectedInfo">
                  Beneficiary Name : {{selectedBeneficiary.name}} <br>
                  Beneficiary Bank Name : {{selectedBeneficiary.bankName}} <br>
                  Beneficiary IFSC Code : {{selectedBeneficiary.ifscCode}}
                </div>
              </div>
              <div class="col-6">
                &nbsp;
              </div>
            </div>
            <div class="row">
              &nbsp;
            </div>
          </div>
          <!-- 3rd Column-->
          <div class="col-2">
            <mat-card class="partner-card" *ngIf="displayICICIBank">
              <img mat-card-image src="assets/img/ICICI_logo.jpg" alt="ICICI Bank">
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <button mat-raised-button class="btn-action" [disabled]="markDisable" (click)="generateOTP()">Generate OTP</button>
          </div>
          <div class="col-2">
            <button mat-raised-button class="btn-action" (click)="cancel()">Cancel</button>
          </div>
          <div class="col-8">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>