<div class="error-box" *ngIf="isError">
    <div class="row">
        <div style="flex: 0 0 auto; width: 4%;">
            <mat-icon class="material-icons error-header">priority_high</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 96%;">
           {{errorMessage}}
        </div>
    </div>
  </div>
  
  <div class="row">
    &nbsp;
  </div>
  
  <div class="container-fluid vertical-center">
    <div class="row align-items-center justify-content-center sm-h">
    <div class="col-3">
      &nbsp;
    </div>
    <div class="col-6">
      <div class="card" style="width: 100%">
        <div class="card-header">
          Reset Pin
        </div>
        <div class="card-body">
          <form class="reset-pin-container" [formGroup]="resetPinForm" autocomplete="off">
  
            <div class="row">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="input_field_pwd" appearance="outline">
                      <mat-label>Enter Old Pin</mat-label>
                      <input matInput placeholder="Enter Old Pin"
                        [type]="hide ? 'password' : 'text'" 
                        minlength="6" 
                        maxlength="15"
                        formControlName="oldPinValue" 
                        appDisableCopyPaste
                        required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                    </mat-form-field>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="input_field_pwd" appearance="outline">
                      <mat-label>Enter New Pin</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" 
                      placeholder="Enter New Pin" 
                      formControlName="newPinValue"
                      minlength="6"
                      maxlength="15"
                      appDisableCopyPaste
                       required>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <mat-card class="partner-image">
                  <!--<img mat-card-image src="assets/img/ICICI_logo.jpg" alt="ICICI Bank">-->
                  <img mat-card-image src="">
                </mat-card>
              </div>
            </div>
  
            <div class="row">
              <div class="col-12">
                <div class="info">
                    (minimum of 6 characters and maximum of 15 characters required.)
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <button mat-raised-button class="btn-action" (click)="cancelReset()">Cancel</button>
              </div>
              <div class="col-md-2">
                <button mat-raised-button class="btn-action" (click)="onSubmit()">Change Pin</button>
              </div>
              <div class="col-md-8">
                &nbsp;
              </div>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div class="col-3">
      &nbsp;
    </div>
  </div>
</div>
