<div class="error-box" *ngIf="isError">
  <div class="row">
      <div style="flex: 0 0 auto; width: 4%;">
          <mat-icon class="material-icons error-header">priority_high</mat-icon>
      </div>
      <div style="flex: 0 0 auto; width: 96%;">
         {{errorMessage}}
      </div>
  </div>
</div>

<div class="row">
  &nbsp;
</div>

<div class="conatiner">
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 100%">
        <div class="card-header">
          Register Account
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="register-header-table">
                <form class="register-container" [formGroup]="createrRegisterForm" autocomplete="off">
                  <div class="row">
                    <div class="col-8">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Partner</mat-label>
                        <mat-select formControlName="partnerId" (selectionChange)="onPartnerChange($event)" required>
                          <mat-option *ngFor="let partner of partners" [value]="partner.partnerId">
                            {{partner.partnerName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      &nbsp;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Corporate ID</mat-label>
                        <input matInput placeholder="Corporate ID" formControlName="corpId" appDisableCopyPaste required>
                      </mat-form-field>
                      <button mat-icon-button (click)="openHelpDialog('help_corporate_id')">
                        <mat-icon class="help-question">help_center</mat-icon>
                      </button>
                    </div>
                    <div class="col-4">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>User ID</mat-label>
                        <input matInput placeholder="User ID" formControlName="userId" appDisableCopyPaste required>
                      </mat-form-field>
                      <button mat-icon-button (click)="openHelpDialog('help_user_id')">
                        <mat-icon class="help-question">help_center</mat-icon>
                      </button>
                    </div>
                    <div class="col-4">
                      &nbsp;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input matInput type="text" placeholder="Account Number" appDisableCopyPaste formControlName="accountNumber"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <!--mat-slide-toggle (change)="togglePrimaryAccount()">
                        Set as Primary Account
                      </mat-slide-toggle-->
                    </div>
                    <div class="col-4">
                      &nbsp;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <mat-form-field class="input_field_pwd" appearance="outline">
                        <mat-label>Confirm Account Number</mat-label>
                        <input matInput type="password" 
                              placeholder="Confirm Account Number" 
                              formControlName="cnfAccountNumber" appDisableCopyPaste
                              required>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Banking Login ID (Alias Id)</mat-label>
                        <input matInput placeholder="Banking Login ID" appDisableCopyPaste formControlName="aliasId">
                      </mat-form-field>
                      <button mat-icon-button (click)="openHelpDialog('help_banklogin_id')">
                        <mat-icon class="help-question">help_center</mat-icon>
                      </button>
                    </div>
                    <div class="col-4">
                      &nbsp;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                      <button mat-raised-button class="btn-action" type="button" (click)="onSubmit()">Create
                        User</button>
                    </div>
                    <div class="col-4"></div>
                  </div>

                </form>
              </div>
            </div>
            <div class="col-2">
              <mat-card class="partner-card" *ngIf="displayICICIBank">
                <img mat-card-image src="assets/img/ICICI_logo.jpg" alt="ICICI Bank">
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>