<div class="conatiner">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Steps to Approve Account
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-8">
                            <mat-card class="partner-card">
                                <img mat-card-image src="assets/img/docs/image_1.png" alt="ICICI Bank">
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <mat-card class="partner-card">
                                <img mat-card-image src="assets/img/docs/image_2.png" alt="ICICI Bank">
                            </mat-card>
                        </div>
                        <div class="col-4">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-8">
                            <mat-card class="partner-card">
                                <img mat-card-image src="assets/img/docs/image_3.png" alt="ICICI Bank">
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <mat-card class="partner-card">
                                <img mat-card-image src="assets/img/docs/image_4.png" alt="ICICI Bank">
                            </mat-card>
                        </div>
                        <div class="col-4">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button mat-raised-button class="btn-action" type="button"
                                (click)="markDone()">Done</button>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>