<div class="info-box">
    <div class="row px-0 mx-0">
        <div style="flex: 0 0 auto; width: 5%;" class="px-0 mx-0">
            <mat-icon class="material-icons info-header">info</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 95%;" class="px-0 mx-0">
            Note:- Spending/ payment line item is created in draft for your next action, if want to book spending and
            outward payment details – Link to go to line item directly <br>
            Key benefits – More depth to spending and Payments <br>
            Track and manage spending and payments well<br>
            Categorical details for spending and support control
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table transaction-ack">
                            <tbody>
                                <tr>
                                    <th scope="row">Reference ID</th>
                                    <td>{{enquireTransaction.uniqueId}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mode</th>
                                    <td>{{txTypeMap.get(finaltransaction.txType!)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Corp Id</th>
                                    <td>{{enquireTransaction.corpId}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">User Id</th>
                                    <td>{{enquireTransaction.userId}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Paid to Account</th>
                                    <td>{{mask(finaltransaction.creditAcc)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amount</th>
                                    <td>₹ &nbsp; {{finaltransaction.amount | number: '.2'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">From Account</th>
                                    <td>{{mask(finaltransaction.debitAcc)}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Remarks</th>
                                    <td>{{finaltransaction.remarks}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Status</th>
                                    <td>{{messageFromBank}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Additional Info</td>
                                    <td>{{additionalInfo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-2">
                        <button mat-raised-button class="btn-action" (click)="markDone()">Done</button>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button class="btn-action" (click)="initiateAnotherTxn()">Initiate Another txn</button>
                    </div>
                    <div class="col-5">
                        <button mat-raised-button class="btn-action-highligted" (click)="bookSpending()">
                            Do you want to book spendings/payments 
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>