<!--mat-tab-group>
    <mat-tab label="Generate OTP"> 
        <app-generate-otp></app-generate-otp>
    </mat-tab>
    <mat-tab label="Initiate Transaction">
        <app-create-transaction></app-create-transaction>
    </mat-tab>
</mat-tab-group-->
<app-header></app-header>

<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="generateOtpInfo">
        <form [formGroup]="generateOtpInfo">
            <ng-template matStepLabel>Transaction Detail</ng-template>
            <app-generate-otp 
                (transactionEmitter)="generatedTransaction($event, stepper)"
                [bankingRequest]="bankingRequest"
            ></app-generate-otp>
        </form>
    </mat-step>
    <mat-step [stepControl]="initateTransactionInfo">
        <form [formGroup]="initateTransactionInfo">    
            <ng-template matStepLabel>Verify Transaction</ng-template>
            <app-create-transaction [transactionRequest]="initiateTransaction"
                [stepperData]="passedStepper"
              (finalTransactionEmitter)="finalStatusStep($event, stepper)">
            </app-create-transaction>
        </form>
    </mat-step>
    <mat-step [stepControl]="initateTransactionInfo">   
        <ng-template matStepLabel>Status</ng-template>
        <app-txn-ack [stepperData]="passedStepper"
        [finaltransaction]="finalTransaction"></app-txn-ack>
    </mat-step>
  </mat-stepper>