::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-horizontal-stepper-header {
    box-sizing: border-box;
    height: auto;
    padding: 2px;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #147ecc;
    color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #147ecc;
    color: #fff;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: #007bff;
}

