.navigation-bar {
    background: white;
    color: grey;
}

.profile {
    color: grey;
    font-size: 40px;
}

.img-div{
    width: 200px;  /* Or whatever */
    height: 90px; /* Or whatever */
    margin: 0px;  /* Magic! */
}

.header-wrapper{
    display: flex;
    height: 120px;
}