<mat-toolbar class="navigation-bar">
    <mat-toolbar-row>
        <div style="width: 100%;padding-left: 95%;">
            <nav mat-tab-nav-bar class="profile-menu">
                <li style="list-style:none;">
                    <button mat-icon-button [matMenuTriggerFor]="auth">
                        <mat-icon class="profile">account_circle</mat-icon><br />
                    </button>
                    <mat-menu #auth="matMenu" xPosition="before">
                        <button mat-menu-item><span>{{username}} </span></button>
                        <!--<button mat-menu-item><span>{{appName}} </span></button>-->
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sign out</span>
                        </button>
                    </mat-menu>
                </li>
            </nav>
        </div>
    </mat-toolbar-row>

</mat-toolbar>