<app-header></app-header>

<div class="info-box">
    <div class="row px-0 mx-0">
        <div style="flex: 0 0 auto; width: 5%;" class="px-0 mx-0">
            <mat-icon class="material-icons info-header">info</mat-icon>
        </div>
        <div style="flex: 0 0 auto; width: 95%; align-self: center;" class="px-0 mx-0">
            Go to ICICI Bank Corporate account log-in or Click on Link to approve and Log-in. <br>
            Go to Profile once log-in and approve the user
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        Registered User
                        <button mat-icon-button (click)="viewProcess()">
                            <mat-icon class="help-question">preview</mat-icon>
                        </button>
                    </div>
                    <div class="col-1">
                        <button mat-icon-button (click)="addUser()">
                            <mat-icon>person_add_alt_1</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="register-status">
                    <table mat-table [dataSource]="dataSource" style="width: 100%;"
                        class="mat-elevation-z8 registration-status-table">

                        <ng-container matColumnDef="partnerName">
                            <th mat-header-cell *matHeaderCellDef> Partner Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{partnerIdNameMap.get(element.partnerId)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="primary">
                            <th mat-header-cell *matHeaderCellDef>Primary</th>
                            <td mat-cell *matCellDef="let element" width="10px">
                                <button mat-icon-button (click)="setPrimaryAccount(element)" *ngIf="isPrimaryAccount(element) && element.currentState == 'REGISTERED'">
                                    <mat-icon class="material-icons star-yellow">star</mat-icon>
                                </button>
                                <button mat-icon-button (click)="setPrimaryAccount(element)" *ngIf="!isPrimaryAccount(element) && element.currentState == 'REGISTERED'">
                                    <mat-icon class="material-icons star-off">star</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="userId">
                            <th mat-header-cell *matHeaderCellDef> User Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="urnId">
                            <th mat-header-cell *matHeaderCellDef> URN Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.urnId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="accountNumber">
                            <th mat-header-cell *matHeaderCellDef> Account Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="aliasId">
                            <th mat-header-cell *matHeaderCellDef> Alias ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.aliasId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="corpId">
                            <th mat-header-cell *matHeaderCellDef> Corp ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.corpId}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{statusIDMap.get(element.currentState)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="registrationDate">
                            <th mat-header-cell *matHeaderCellDef> Registration Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.registrationTs}} </td>
                        </ng-container>

                        <ng-container matColumnDef="updateTs">
                            <th mat-header-cell *matHeaderCellDef> Update Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.updateTs}} </td>
                        </ng-container>

                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef> Registered </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="deregister(element)" *ngIf="element.currentState == 'REGISTERED'">
                                    <mat-icon class="material-icons flag-green">toggle_on</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="element.currentState == 'PENDING_SELF_APPROVAL'">
                                    <mat-icon class="material-icons flag-amber">toggle_off</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="element.currentState == 'DEREGISTERED'">
                                    <mat-icon class="material-icons flag-red">toggle_off</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{'mark-amber': row.currentState == 'PENDING_SELF_APPROVAL' }"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>