<div class="row">
    <div class="col-8">
        &nbsp;
    </div>
    <div class="col-4">
        <div class="search-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
          </div>
    </div>
</div>

<div class="statement-body">
    <table mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8 statement-table">

        <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef > Txn Id </th>
            <td mat-cell *matCellDef="let element">
                {{element.transactionId}}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type  </th>
            <td mat-cell *matCellDef="let element"> {{typeIdMap.get(element.type)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="txnDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.txnDate}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount (Rs.) </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}}
            </td>
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance (Rs.) </th>
            <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSize]="pageSize" 
                 [pageSizeOptions]="[5, 10, 20]" 
                 [showFirstLastButtons]="true" 
                 [length]="totalSize"
                 [pageIndex]="currentPage" 
                 (page)="handlePage($event)"
                 aria-label="Select page of statement">
    </mat-paginator> -->

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>