<!--app-header></app-header>-->

<div class="pin-container">
    <div class="col-12">
        <div class="app-create-pin" *ngIf="initCreateNewPinFlow">
            <app-create-pin></app-create-pin>
        </div>
        <div class="app-verify-pin" *ngIf="!initCreateNewPinFlow">
            <app-verify-pin [bankingRequest]="bankingRequest"></app-verify-pin>
        </div>
    </div>
</div>

