<app-header></app-header>

<div class="info-box">
  <div class="row px-0 mx-0">
    <div style="flex: 0 0 auto; width: 5%;" class="px-0 mx-0">
      <mat-icon class="material-icons info-header">info</mat-icon>
    </div>
    <div style="flex: 0 0 auto; width: 95%; align-self: center;" class="px-0 mx-0">
      Please fill below details, we will get back to you shortly.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    &nbsp;
  </div>
</div>

<div class="error-box" *ngIf="isError">
  <div class="row">
    <div style="flex: 0 0 auto; width: 4%;">
      <mat-icon class="material-icons error-header">priority_high</mat-icon>
    </div>
    <div style="flex: 0 0 auto; width: 96%;">
      {{errorMessage}}
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
</div>

<div class="conatiner">
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 100%">
        <div class="card-header">
          Contact Us
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="contact-header-table">
                <form class="contact-container" [formGroup]="contactUsForm" autocomplete="off">
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Organization</mat-label>
                        <input matInput placeholder="Organization" appDisableCopyPaste formControlName="organaizationName" maxlength="60"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Organization Type</mat-label>
                        <mat-select formControlName="organizationType" required>
                          <mat-option value="">Select Organization Type</mat-option>
                          <mat-option value="Individual">Individual</mat-option>
                          <mat-option value="Proprietorship">Proprietorship</mat-option>
                          <mat-option value="Private_Ltd">Private Ltd</mat-option>
                          <mat-option value="LLP">LLP</mat-option>
                          <mat-option value="HUF">HUF</mat-option>
                          <mat-option value="OPC">OPC</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Organization Size</mat-label>
                        <mat-select formControlName="organizationSize" required>
                          <mat-option value="">Select Organization Size</mat-option>
                          <mat-option value="0-10">0-10</mat-option>
                          <mat-option value="11-250">11 - 250</mat-option>
                          <mat-option value="250plus">250+</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Segment</mat-label>
                        <mat-select formControlName="organizationSegment" required>
                          <mat-option value="">Select Segment</mat-option>
                          <mat-option value="Retailer">Retailer</mat-option>
                          <mat-option value="SME">SME</mat-option>
                          <mat-option value="MSME">MSME</mat-option>
                          <mat-option value="Mid-Size">Mid-Size</mat-option>
                          <mat-option value="Large Enterprises">Large Enterprises</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" appDisableCopyPaste formControlName="firstName" maxlength="25" required>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" appDisableCopyPaste formControlName="lastName" maxlength="25" required>
                      </mat-form-field>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput type="text" placeholder="Mobile Number" appDisableCopyPaste maxlength="13"
                          formControlName="mobileNumber" required>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput type="text" placeholder="Email ID" appDisableCopyPaste formControlName="emailId" required>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Message</mat-label>
                        <textarea matInput appDisableCopyPaste formControlName="message"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                      <button mat-raised-button class="btn-action" type="button" (click)="onSubmit()">Contact me
                      </button>
                    </div>
                    <div class="col-4"></div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>