/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.btn-action {
    background: #147ecc;
    margin-right: 4px;
    min-width: 140px;
    line-height: 18px;
    color: #FFF !important;
    font-size: 14px;
    padding: 10px 11px;
    border-radius: 25px !important;
    cursor: pointer;
    letter-spacing: .6px;
}

.btn-action-highligted {
    background: white;
    margin-right: 4px;
    min-width: 140px;
    line-height: 18px;
    color: #147ecc !important;
    font-size: 14px;
    padding: 10px 11px;
    border-radius: 25px !important;
    border-color: #147ecc !important;
    cursor: pointer;
    letter-spacing: .6px;
}

.btn-action-highligted:hover {
    background: #ee4f007a;
    margin-right: 4px;
    min-width: 140px;
    line-height: 18px;
    color: #147ecc !important;
    font-size: 14px;
    padding: 10px 11px;
    border-radius: 25px !important;
    border-color: #147ecc !important;
    cursor: pointer;
    letter-spacing: .6px;
}

.card-header {
    color: #007bff;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold;
    font-size: 16px !important;
    border-bottom: 1px solid #e2e5e8;
    padding: 15px 25px;
}

.card-body {
    font-size: 12px;
}

.card-title {
    font-family: 'Mada', sans-serif !important;
}

.card {
    box-shadow: 2 2 20px 0 rgba(100, 100, 100, 0.26);
}

.table-stmt-dtl {
    color: #007bff;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold; 
}

.error-text-message {
    color: crimson;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold;
}

.input_field_pwd {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 200px !important;
}

.flag-green {
    color: #5bc0de;
    font-size: 50px;
}

.flag-amber {
    color: #f08b58;
    font-size: 50px;
}

.flag-red {
    color: grey;
    font-size: 50px;
}

.info-text {
    font-size: 8px;
    background-color: grey;
}

.profile {
    color: white;
}

.info-container-box{
    font-size: 12px;
    padding: 10px;
    background-color: #c4d4dc;
    border: 2px !important;
    border-style: dashed !important;
}

.info-box {
    border-left-color: #5bc0de;
    border-left-style: solid;
    border-left-width: 10px;
    font-size: 15px;
    padding: 10px;
    border-right-width: 2px;
    border-right-color: #5bc0de;
    border-right-style: solid;

    border-top-width: 2px;
    border-top-color: #5bc0de;
    border-top-style: solid;

    border-bottom-width: 2px;
    border-bottom-color: #5bc0de;
    border-bottom-style: solid;
    color: #007bff;
}

.info-header {
    font-size: 50px;
    color: #007bff;
}

.error-header {
    font-size: 30px;
    color: red;
}

.error-box {
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 10px;
    font-size: 15px;
    padding: 10px;
    border-right-width: 2px;
    border-right-color: red;
    border-right-style: solid;

    border-top-width: 2px;
    border-top-color: red;
    border-top-style: solid;

    border-bottom-width: 2px;
    border-bottom-color: red;
    border-bottom-style: solid;
    color: red;
}

.hyperLink {
    font-size: 12px;
}

.help-question {
    color: #007bff;
}

.disable-color {
    color: grey;
}

.dashboard-container {
    padding: 15px 25px;
}

.vertical-center {
    min-height: 100%;
    min-height: 80vh; 
    display: flex;
    align-items: center;
  }