<app-header></app-header>

<div class="row">
    
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-header">
               <div class="row">
                   <div class="col-11">
                       Manage Beneficiary
                   </div>
                   <div class="col-1">
                        <button mat-icon-button matSuffix (click)="addBeneficiary()">
                        <mat-icon>person_add_alt_1</mat-icon>
                        </button>
                   </div>
               </div>

            </div>
            <div class="card-body">
                <div class="register-status">
                    <table mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8 registration-status-table">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Beneficiary Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="accountNumber">
                            <th mat-header-cell *matHeaderCellDef> Account Number </th>
                            <td mat-cell *matCellDef="let element"> {{mask(element.accountNumber)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="bankName">
                            <th mat-header-cell *matHeaderCellDef> Bank Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ifscCode">
                            <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.ifscCode}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="userId">
                            <th mat-header-cell *matHeaderCellDef> Associated Account </th>
                            <td mat-cell *matCellDef="let element"> {{element.corpId}} - {{element.userId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef> Created Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef width="15px"> Active </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="changeBeneficiaryStatus(element, false)"  *ngIf="isStatusEnabled(element)">
                                    <mat-icon class="material-icons flag-green">toggle_on</mat-icon>
                                </button>
                                <button mat-icon-button (click)="changeBeneficiaryStatus(element, true)"  *ngIf="!isStatusEnabled(element)">
                                    <mat-icon class="material-icons flag-red">toggle_off</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef width="10px"></th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button  *ngIf="isStatusEnabled(element)">
                                    <mat-icon class="material-icons disable-color">delete</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deactivateBeneficiary(element)"  *ngIf="!isStatusEnabled(element)">
                                    <mat-icon class="material-icons">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>