<div class="modal-content popup">

    <!-- Modal Header -->
    <div class="modal-header">
        <p class="modal-title">Add a Beneficiary for {{selectedUser.corpId}} - {{selectedUser.userId}} - {{mask(selectedUser.accountNumber)}}</p>
    </div>

    <!-- Modal body -->
    <div class="modal-body mx-modal-body card-body">
        <form class="needs-validation" role="form" id="AllBud" novalidate="" [formGroup]="createBeneficiaryForm" autocomplete="off">
            <div class="card-dialog col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card-dialog-body">
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Beneficiary Name</mat-label>
                                        <input matInput placeholder="Beneficiary Name" appDisableCopyPaste formControlName="name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Bank</mat-label>
                                        <mat-select formControlName="bankName" (selectionChange)="onBankChange($event)"
                                            required>
                                            <mat-option value="ICICI">ICICI Bank</mat-option>
                                            <mat-option value="HDFC">HDFC Bank</mat-option>
                                            <mat-option value="SBI">SBI Bank</mat-option>
                                            <mat-option value="PNB">Punjab National Bank</mat-option>
                                            <mat-option value="BNB">Bank of Baroda</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" appearance="outline">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput type="text" placeholder="Account Number" appDisableCopyPaste
                                            formControlName="accountNumber" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="input_field_pwd" appearance="outline">
                                        <mat-label>Confirm Account Number</mat-label>
                                        <input matInput type="password"
                                            placeholder="Confirm Account Number" formControlName="cnfAccountNumber" appDisableCopyPaste
                                            required>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-data" *ngIf="displayIfscCode" appearance="outline">
                                        <mat-label>IFSC Code</mat-label>
                                        <input matInput placeholder="IFSC CODE" formControlName="ifscCode" appDisableCopyPaste>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row error-box" *ngIf="isError">
                                <div style="flex: 0 0 auto; width: 4%;">
                                    <mat-icon class="material-icons error-header">priority_high</mat-icon>
                                </div>
                                <div style="flex: 0 0 auto; width: 96%;">
                                    {{errorMessage}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button mat-raised-button class="btn-action" type="button" (click)="onSubmit()">Add Beneficiary</button>
        &nbsp;
        <button mat-raised-button class="btn-action" type="button" data-dismiss="modal" (click)="back()">Cancel</button>
    </div>
</div>