<div class="modal-content popup">

    <!-- Modal Header -->
    <div class="modal-header">
        <p class="modal-title">Contact Us</p>
    </div>

    <!-- Modal body -->
    <div class="modal-body mx-modal-body">
        <div class="row px-0 mx-0">
            <div style="flex: 0 0 auto; width: 10%;" class="px-0 mx-0">
                <mat-icon class="material-icons">info</mat-icon>
            </div>
            <div style="flex: 0 0 auto; width: 90%; align-self: center;" class="px-0 mx-0">
               Please fill below details, we will get back to you shortly.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="contact-header-table">
            <form class="contact-container" [formGroup]="contactUsForm">
                <div class="row">
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>Organization</mat-label>
                            <input matInput placeholder="Organization" 
                                maxlength="50" appDisableCopyPaste
                                formControlName="organaizationName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>Organization Type</mat-label>
                            <mat-select formControlName="organizationType" required>
                                <mat-option value="Individual">Individual</mat-option>
                                <mat-option value="Proprietorship">Proprietorship</mat-option>
                                <mat-option value="Private_Ltd">Private Ltd</mat-option>
                                <mat-option value="LLP">LLP</mat-option>
                                <mat-option value="HUF">HUF</mat-option>
                                <mat-option value="OPC">OPC</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Organization Size</mat-label>
                        <mat-select formControlName="organizationSize" required>
                          <mat-option value="">Select Organization Size</mat-option>
                          <mat-option value="0-10">0-10</mat-option>
                          <mat-option value="11-250">11 - 250</mat-option>
                          <mat-option value="250plus">250+</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Segment</mat-label>
                        <mat-select formControlName="organizationSegment" required>
                          <mat-option value="">Select Segment</mat-option>
                          <mat-option value="Retailer">Retailer</mat-option>
                          <mat-option value="SME">SME</mat-option>
                          <mat-option value="MSME">MSME</mat-option>
                          <mat-option value="Mid-Size">Mid-Size</mat-option>
                          <mat-option value="Large Enterprises">Large Enterprises</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" formControlName="firstName" appDisableCopyPaste maxlength="25" required>
                          </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" formControlName="lastName" appDisableCopyPaste maxlength="25" required>
                          </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput type="text" placeholder="Mobile Number" 
                                maxlength="13" appDisableCopyPaste
                                formControlName="mobileNumber"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field class="form-data" appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input matInput type="text" placeholder="Email ID" appDisableCopyPaste formControlName="emailId" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                      <mat-form-field class="form-data" appearance="outline">
                        <mat-label>Message</mat-label>
                        <textarea matInput appDisableCopyPaste formControlName="message"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-6">
                <button mat-raised-button class="btn-action" type="button" data-dismiss="modal" (click)="back()">
                    Cancel</button>
            </div>
            <div class="col-6">
                <button mat-raised-button class="btn-action" type="button" (click)="onSubmit()">
                    Contact me</button>
            </div>
        </div>
    </div>
</div>