/*
.card-body {
    font-size: 12px;
    text-align: left !important;
    border-top: 1px solid #ee5000;;
}

.card-title {
    font-family: 'Mada', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

.card-header-blue {
    background-color: #147ecc !important;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 5px 5px;
    color: #fff;
}

.card-header-orange {
    background-color: #ee5000 !important;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 5px 5px;
    color: #fff;
}

.card {
    box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.26);
    padding: 0px !important;
    display: flex;
    text-align: center !important;
    justify-content: space-between;
    border: 1px solid #ee5000;
}

.card-header {
    background-color: #ee5000 !important;
    font-family: 'Bell MT' !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #fff;
    border-bottom: 1px solid #D9D9D9;
    padding: 0px 0px;
}

table tbody {
    background-color: #202938 !important;
    height: 20px;
}

.mat-card-title {
    display: block;
    margin-bottom: 0px !important;
}


td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    color: #fff;
    border-bottom-style: solid;
    background-color: #202938;
}

th.mat-header-cell {
    padding: 0;
    background-color: #202938 !important;
    border-bottom-width: 1px;
    color: #ee5000 !important;
    border-bottom-style: solid;
}

.mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
    background-color: #202938;
}
*/
.card-body {
    font-size: 12px;
    text-align: left !important;
    border-top: 1px solid #D9D9D9;
    height: 100%;
    padding: 2px 5px;
}

.card-title {
    font-family: 'Mada', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

.card {
    box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0);
    padding: 0px !important;
    display: flex;
    text-align: center !important;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
    height: 100%;
}

.card-header-orange {
    background-color: #ee5000 !important;
    font-family: 'Bell MT' !important;
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 5px 5px;
    color: #fff;
    border-bottom: 1px solid #D9D9D9;
    padding: 0px 0px;
}

.card-header-blue {
    background-color: #147ecc !important;
    font-family: 'Bell MT' !important;
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 5px 5px;
    color: #fff;
    border-bottom: 1px solid #D9D9D9;
    padding: 0px 0px;
}

table tbody {
    background-color: #fff !important;
    height: 20px;
    align-items: flex-start;
}

.mat-card-title {
    display: block;
    margin-bottom: 0px !important;
}


td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    color: #292929;
    border-bottom-style: solid;
    background-color: #fff;
    font-family: 'Bell MT' !important;
    font-size: 10.5px !important;
}

tr.mat-header-row {
    height: 35px !important;
}

tr.mat-row {
    height: 25px !important;
}

th.mat-header-cell {
    padding: 0;
    background-color: #fff !important;
    border-bottom-width: 1px;
    color: #292929 !important;
    border-bottom-style: solid;
    font-family: 'Bell MT' !important;
}

.mat-card-content, .mat-card-subtitle {
    display: contents;
    margin-bottom: 16px;
    background-color: #fff;
    margin-top: 0px;
}

