<mat-card class="card" >
    <mat-card-title [ngClass]="headerClass">{{title}}</mat-card-title>
    <mat-card-content>
      <div class="card-body">
        <div class="account-balance" *ngIf="type == 'accountBalance'">
            <table mat-table [dataSource]="dataSource" class="table" width="100%">
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>
                <ng-container matColumnDef="bank">
                  <th mat-header-cell *matHeaderCellDef> Bank </th>
                  <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
                </ng-container>
                <ng-container matColumnDef="accountNumber">
                    <th mat-header-cell *matHeaderCellDef> Account Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef> UserId </th>
                    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                </ng-container>
                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.balance  | number: '.2'}} </td>
                </ng-container>
                <!--ng-container matColumnDef="pay">
                    <th mat-header-cell *matHeaderCellDef> Pay </th>
                    <td mat-cell *matCellDef="let element"> {{element.pay}} </td>
                </ng-container-->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>  
        <div class="last-txn-Info" *ngIf="type == 'last10Txns'">
            <table mat-table [dataSource]="dataSource" class="table" width="100%">
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>
                <ng-container matColumnDef="txnId">
                  <th mat-header-cell *matHeaderCellDef> Txn Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.txnId}} </td>
                </ng-container>
                <ng-container matColumnDef="paidfrom">
                    <th mat-header-cell *matHeaderCellDef> Paid From </th>
                    <td mat-cell *matCellDef="let element"> {{element.paidfrom}} </td>
                </ng-container>
                <ng-container matColumnDef="paidTo">
                    <th mat-header-cell *matHeaderCellDef> Paid To </th>
                    <td mat-cell *matCellDef="let element"> {{element.paidTo}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount  | number: '.2'}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <div class="total-10-payee-Info" *ngIf="type == 'total10Payee'">
            <table mat-table [dataSource]="dataSource" class="table" width="100%">
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>
                <ng-container matColumnDef="payee">
                  <th mat-header-cell *matHeaderCellDef> Payee </th>
                  <td mat-cell *matCellDef="let element"> {{element.payee}} </td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalAmount | number: '.2'}} </td>
                </ng-container>
                <ng-container matColumnDef="totalTransactions">
                    <th mat-header-cell *matHeaderCellDef> Total Transactions </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalTransactions}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <div class="total-amount-paid-Info" *ngIf="type == 'totalPaidAccontPerMonth'">
            <table mat-table [dataSource]="dataSource" class="table" width="100%">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                    <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                  </ng-container>
                  <ng-container matColumnDef="bank">
                    <th mat-header-cell *matHeaderCellDef> Bank </th>
                    <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
                  </ng-container>
                  <ng-container matColumnDef="accountNumber">
                      <th mat-header-cell *matHeaderCellDef> Account Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
                  </ng-container>
                  <ng-container matColumnDef="userId">
                      <th mat-header-cell *matHeaderCellDef> User Id</th>
                      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="amountPaid">
                      <th mat-header-cell *matHeaderCellDef> Amount Paid </th>
                      <td mat-cell *matCellDef="let element"> {{element.amountPaid  | number: '.2'}} </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>