<!--div mat-dialog-content>
    {{data.message}}
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div-->

<div class="modal-content popup">

    <!-- Modal Header -->
    <div class="modal-header">
        <p class="modal-title">Confirmation !</p>
    </div>

    <!-- Modal body -->
    <div class="modal-body mx-modal-body" [innerHtml]="data.message">
        
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-6">
                <button mat-raised-button class="btn-action" type="button" data-dismiss="modal" (click)="onNoClick()">
                    No</button>
            </div>
            <div class="col-6">
                <button mat-raised-button class="btn-action" type="button" data-dismiss="modal" (click)="onYesClick()">
                    Yes</button>
            </div>
        </div>
    </div>
</div>