<div class="partner-card" style="width: 20rem;">
    <!--<img class="card-img-top" src="assets/img/{{accountCard.cardLogoPath}}" alt="Card image cap">-->
    <div class="partner-card-body" style="background-color: #95b3d7 !important;">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row px-0 mx-0">
            <div class="col-md-1 px-0 mx-0">
                &nbsp;
            </div>
            <div class="col-md-5 px-0 mx-0">
                {{accountCard.bankName}}
            </div>
            <div class="col-md-1 px-0 mx-0">
                &nbsp;
            </div>
            <div class="col-md-5 px-0 mx-0">
                A/C Balance
            </div>
        </div>
        <div class="row px-0 mx-0">
            <div class="col-md-1 px-0 mx-0">
                &nbsp;
            </div>
            <div class="col-md-5 px-0 mx-0">
                <div class="text-card">
                 {{mask(accountCard.accountNumber)}}
                </div>
            </div>
            <div class="col-md-1 px-0 mx-0">
                &nbsp;
            </div>
            <div class="col-md-5 px-0 mx-0">
                <div class="text-card">
                {{currencySymbolMap.get(accountCard.currency!)}} {{accountCard.accountBalance | number: '.2'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;</div>
        </div>
    </div>
</div>