.partner-card {
    padding: 0px;
    box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.26);
}

.partner-card-body {
    font-size: 12px;
    font-family: 'Mada', sans-serif !important;
    font-weight: bold;
    color: white;
    padding: 0px 0px;
}